.bg{
    background-image: url('../../assets/familyTable.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 90vh;
    opacity: 70%;
    position: relative;
    z-index: -1000;
    overflow: hidden;
}