.bg{
    background-image: url('../../assets/familyTable.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 90vh;
    opacity: 50%;
    z-index: -1000;
}