//examples
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    background-image: linear-gradient(to right bottom, var(--color-primary), var(--color-primary-dark));
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--color-primary-light);

    min-height: 100vh;
}