.nav-wrapper {
    position: relative;
}

.text-wrapper {
    position: absolute;
      top: 10rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
      text-align: center;
      padding-left: 23vw;
}