.nav-wrapper {
    position: relative;
}

.text-wrapper {
    position: absolute;
    display: flex;
    flex-direction: row;
    text-align: center;
    z-index: 1000;
    overflow: hidden;
    height: 90vh;
}