.nav-wrapper {
    position: relative;
}

.text-wrapper {
    position: absolute;
    top: 10vh;
    display: flex;
    flex-direction: column;
    //height: 100vh;
    //width: 100%;
    text-align: center;
    // border:5px dotted black;
    z-index: 1000;
    overflow: hidden;
}